$def with (form)
<html>
<head><title>Item Insertion</title></head>
<body background="http://wallportal.com/uploads/posts/white-wallpaper-images/white_wallpaper_images_012.jpg">
<p><strong>Thank you. Your item has been inserted into the database.</strong></p>
<form method="post" action="/static/form.html">
	<b style="color:#000000">If you want to go back to the form, click here</b>:
	<input type="submit" value="Form">
</form>
<form method="post" action="/static/home.html">
	<b style="color:#000000">If you want to go back to the home page, click here</b>:
	<input type="submit" value="Home">
</form>
</body>
</html>
