$def with (form)
<html>
<head><title>Item Insertion</title></head>
<body background="http://freedesignfile.com/upload/2015/10/Round-lines-with-dot-psd-background.jpg">
<h3>
	<center style="color:#000000">Form Submission Verification</center>
</h3>

<!--Insertion confirmation-->
<p><strong style="color:#eb0505">Your item has been inserted into the database.</strong></p>
<form method="post" action="/static/form.html">
	<b style="color:#000000">If you would like to go back to the form, click here:</b>
	<input type="submit" value="Form">
</form>
<form method="post" action="/static/home.html">
	<b style="color:#000000">If you would like to go back to the home page, click here:</b>
	<input type="submit" value="Home">
</form>
</body>
</html>
