$def with (objects)
<html>
<head><title>Name Search</title></head>
<body background="http://freedesignfile.com/upload/2015/10/Round-lines-with-dot-psd-background.jpg">
<h3>
	<center style="color:#000000">Name Search Results</center>
</h3>

<!--Info-->
<p><strong>Here is a list of items with this name. Click on the name for more information:</strong></p>

<!--List of items-->
<ul>
$for sobset in objects:
	<li><strong style="color:#000000"><u>Name:</u></strong><a href="/objectinfo/$sobset.id" style="text-decoration:none; color:#eb0505"><strong> $sobset.item_name</a></strong></li>
</ul>
</body>
</html>
